*{
	padding:0;
	margin:0;
	font-family: Arial, Helvetica, sans-serif;
}
body{
	background-color: #E3E6E6;

}
#amzn-body{
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;

}
#nav-bar{
	background-color: #131921;
	height: 60px;
	width:100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}
#nav-left{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
#icon{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-items: center;
}
#nav-left a img{
	height:50px;
	position: cover;
}
#in{
	color:white;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	margin-right: 10px;

}
#location{
	display: flex;
	flex-direction: row;
	padding:3px;
	cursor: pointer;

}
#location img{
	width:20px;
	object-fit: contain;
	margin-right: 6px;
	position: relative;
	top:7px
}

#deliver-address{
	color:#CCCCCC;
	font-size: 10px;
	font-weight: 300;

}

#update-location{
	color:white;
	font-size: 13px;
	font-weight: 600;
}

#nav-center{
	display: flex;
	flex-direction:row ;
	align-items: center;
	justify-content: center;
	margin:0 0 0 20px;
}
#categories{
	width:45px;
	height:41.5px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	background-color: #D4D4D4;
	margin:0;
	cursor: pointer;


	
}

#nav-center input{
	height:37px;
	margin:0;
	width:660px;
	padding-left:8px;
	font-size: 14px;
	font-weight: 500;



}
#search{
	background-color: #F3A847;
	display: flex;
	align-items: center;
	justify-content: center;
	height:40px;
	margin:0;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	padding:0 5px 0 5px;
	cursor: pointer;


	
}
#search a img{
	width:20px;
	margin:7px;
	object-fit: contain;
}

#nav-right{
	display: flex;
	flex-direction: row;
	margin-left:20px
}
#language{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-left: 4px;
	cursor: pointer;

}
#language img{
	width:20px;
	cursor: pointer;


}
.select-option{
	background-color:#131921 ;
	color: white;
	border:none;
	font-weight:600 ;
	padding:0;
	font-size: 12px;
	margin:0;
	cursor: pointer;

}
#account-signin{
	margin-left:20px;
	display: flex;
	flex-direction:column ;
	color:white;
	align-items: left;
	justify-content: center;
	cursor: pointer;

}

#account-signin span{
	font-size: 11px;
	font-weight: 500;
	margin:0 0 0 3px

}

#returns-orders{
	color:white;
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	font-size: 11px;
	margin-left:15px;
	padding-left: 5px;
	padding-right: 5px;
	cursor: pointer;

}

#returns-orders span{
	font-size: 13px;
	font-weight: 600;

}
#cart{
	display: flex;
	flex-direction:row;
	color:white;
	align-items: center;
	margin-left:12px;
	padding-top:0;
	padding-left: 5px;
	padding-right: 5px;
	height:40px;
	cursor: pointer;

}
#cart img{
	width:30px;
}
#cart span{
	font-size: 12px;
	font-weight: 600;
	position:relative;
	top:3px
}

.white-boundary:hover{
	border:1px white solid;
	border-radius: 2px;
	
	
}

#shop-by-category{
	color:#FFFFFF;
	font-size: 13px;
	font-weight: 500;
	height: 39px;
	background-color: #222F3E;
	display: flex;
	flex-direction:row;
	align-items: center;
	justify-content:space-evenly;
}
#all-categories{
	display: flex;
	flex-direction:row;
	align-items: center;
	justify-content: center;

}

#all-categories img{
	width:22px;
}
#all-categories span{
	margin-left:4px;
	font-weight: 600;
}
.sbc-c{
	padding:8px;
	cursor: pointer;
}
#shop-by-category select{
	color:white;
	border:none;
	background-color:#222F3E ;
}

#fr-img-div{
	margin-left: 10px;
	margin-right: 10px;
	display: relative;
	cursor:pointer;

}
#fr-img{
	width:100%;
	object-fit: contain;
	/* clip-path: polygon(0 100%, 100% 100%, 100% 70%, 0 70%);
    opacity: 0.2;  */

}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to top, #E3E6E6, rgba(0, 0, 0, 0)); /* Semi-transparent gradient */
    pointer-events: none; /* Allows clicks to pass through */
}
#img-cards-container{
	position: relative;
	height: auto;
	width:100%
}
.shopping-cards{
	position:absolute;
	top:230px;
	left: 0;
	/* bottom:-80px; */
	/* transform: translateY(-374px); */
	display: flex;
	flex-direction: row;
	justify-content:space-evenly;
}

.small-card{
	width:330px;
	height:auto;
	background-color: white;
	margin:26px 0px 15px 26px;
	padding:20px 14px 14px 4px;
	display: flex;
	flex-direction: column;
}
.small-card h2{
	margin-bottom: 8px;
	font-size: 18px;
	margin-left: 10px;
}

.small-card div img{
	width:155px;
	object-fit: contain;
}



.div1-2{
	width:145px;
	display: flex;
	flex-direction: row;
	align-items: right;
	justify-content: space-between;
}
.div1-2 a{
	color:black;
	font-size: 13px;
	margin:10px;
	text-decoration: none;

}
#a-explore{
	text-decoration: none;
	color:#306F83;
	font-weight: 545;
	font-size: 12px;
	margin-left: 10px;
	margin-top:15px
}

#footer-section{
	position: relative;
	top:45px;
	/* transform: translateY(-374px); */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#b-to-t{
	color:white;
	width: 100%;
	height:49px;
	background-color: #3A4758;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	cursor:pointer;
	
}
#b-to-t:hover{
	background-color: #5a6676;
}
#other-links{
	color:white;
	width: 100%;
	height:auto;
	background-color: #222F3E;
	padding-top:40px;
	padding-bottom:50px;
	display: flex;
	flex-direction: row;
	align-items: right;
	justify-content:space-evenly;


}

ul {
	list-style-type: none; 
	padding: 0;        
	margin: 0;     
  }
li{
	color:#DDDDDD;
	margin:10px;
	position:relative;
	right: 10px;
}

#footer-line{
	width: 100%;
	height:auto;
	background-color: #222F3E;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content:space-evenly;
	color:#CCCCCC;
	

}

#footer-line img{
	height:50px
}
#footer-line select{
	height:30px;
	color:#CCCCCC;
	font-weight: 550;
	background-color: #222F3E;
	padding: 5px 8px 5px 8px;
	border: 1px #CCCCCC solid;
	border-radius: 2px;
}
#country{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
#country img{
	height:30px;
	margin-right:5px
}
#footer-content{
	background-color: #121A22;
	width:100%;
	padding:30px 0px 30px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#some-links{
	display: flex, inline-block;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}
#footer-content div a{
	text-decoration: none;
	color:#CCCCCC;
	margin:10px;
	font-size: 12px;
}

#footer-content span{
	color:#CCCCCC;
	font-size: 12px;

}